.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    margin-left: -70px;
}

.logo img {
    width: 170px;
    height: 170px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}


.links {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: auto;
}

.links a { 
    color: #4b76e1;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s ease;
    white-space: nowrap;
}

.links a:hover {
    color: #fff;
    background-color: #007bff;
}

.links .contact,
.links .faq,
.links .login {
    background-color: #007bff;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.links .contact:hover,
.links .faq:hover,
.links .login:hover {
    background-color: #0056b3;
}

.navbar.scrolled {
    background-color: #ffffffcc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}